<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.109.0/js/wix.min.js"></script>
    <title>Example App</title>
</head>
<body>

    {{{body}}}

</body>
</html>
