<form method="post" action="/message?compId={{{compId}}}&instanceId={{{instanceId}}}">
    <textarea name="message">{{{message}}}</textarea>
    <input value="Update message" type="submit" />
</form>

